.services {
   margin-bottom: 5em;
   margin-top: 5em;
}
.service-box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    gap: 2rem;
    justify-content: center;
    align-items: flex-start;
 }
 
 .service-box{
    background-color: var(--white);
    box-shadow: var(--box-shodow);
    padding: 2rem;
    text-align: center;
    border-radius: 5px;
 }
 
 .service-box img{
    margin: 1rem 0;
    height: 8rem;
 }
 
 .service-box h3{
   background: var(--main-color);
    font-size: 2rem;
    padding: 1rem 0;
    color: var(--white);
    text-transform: capitalize;
    width: fit-content;
    padding: 0 1em;
    margin: 0 auto;
    border-radius: 5px;
 }
 
 .service-box p{
    line-height: 2;
    font-size: 1.6rem;
    color: var(--light-color);
    padding-top: .5rem;
 }