.hero{
    position: relative;
    width: 100%;
    height: 50dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}
.overlay,
video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.overlay {
    background: #000;
    opacity: 0.6;
    z-index: 1;
}
.hero__text{
    width: 50%;
    position: absolute;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}