.hero{
    position: relative;
    width: 100%;
    height: 50dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}
.overlay,
video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.overlay {
    background: #000;
    opacity: 0.5;
    z-index: 1;
}
.hero__text{
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    padding: 5em;
}
.hero__text h1{
    color: #fff;
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 0.5em;
    /* background: var(--main-color);
    padding: 0 0.5em;
    border-radius: 10px 2px 10px 2px; */
}

.hero__text p{
    color: var(--light-bg);
    font-size: 1.8rem;
    font-weight: bold;
}

.search{
    background: var(--light-bg);
    width: 30%;
    height: auto;
    display: flex;
    padding-left: 1.5em;
    border-radius: 50px;
    box-shadow: var(--box-shodow);
    /* align-items: center; */
}

.hero__text input {
    padding: 1em;
    width: 100%;
    border: 0;
    outline: none; 
    background: transparent;
    color: var(--black);
}

.search img{
    width: 5%;
    height: auto;
    cursor: pointer;
    transition: transform .2s ease;
}
.search img:hover{
    transform: scale(1.05);
}
