.carousel-container {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: sticky;
  top: 0px;
  z-index: 1;
  background: var(--light-bg);
  font-weight: bold;
}

@media only screen and (max-width: 996px) {
  .carousel-container {
    position: sticky;
    top: 0;
  }
  .carousel a {
    width: 45%;
  }
}
@media only screen and (max-width: 449px) {
  .carousel-container {
    position: sticky;
    top: 0;
  }
  .carousel a {
    width: 30%;
  }
  .listings h2{
      text-align: center;
  }
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch; /* For iOS smooth scrolling */
  box-shadow: var(--box-shadow);
}

.carousel a {
  color: var(--black);
  display: block;
  text-align: center;
  font-weight: 500;
  width: 60%;
  padding: 1em 0;
  transition: all 0.25s ease;
}

.carousel a:hover {
  letter-spacing: 1.5px;
  font-weight: bold;
  color: var(--main-color);
}

.carousel-items {
  display: flex;
  list-style-type: none;
}

.carousel-item {
  flex: 0 0 auto;
  scroll-snap-align: start;
  padding: 0px 30px;
  min-width: 200px; 
  font-size: 14px;
}

.navigation {
  flex: 0 0 auto;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
}

.nav-button {
  position: absolute;
  border: none;
  cursor: pointer;
  font-size: 1.7rem;
  outline: none;
  padding: 0 5px;
  transition: all 0.2s ease;
}

.nav-button:hover {
  color: var(--main-color);
}

button.left {
  left: 0;
}

button.right {
  right: 0;
}

button.right:hover,
button.left:hover {
  transform: scale(1.1);
}

.bottom-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

button.view-all {
  padding: 1em 2em;
  background-color: var(--main-color);
  color: var(--white);
  outline: none;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.25s ease;
  font-weight: bold;
  place-content: center;
  margin-top: -50px;
  margin-bottom: 5em;
}

.view-all:hover {
  background: var(--black);
}

.carousel-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.carousel-controls button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  outline: none;
  padding: 5px;
}

.carousel-controls button:hover {
  color: #333; /* Change color on hover as per your design */
}

.listings h2 {
  color: var(--black);
  font-size: 2rem;
  font-weight: 800;
}

