.header{
    position: sticky;
    top: 0; left: 0; right: 0;
    z-index: 1;
    box-shadow: var(--box-shodow);
 }
 
 .header .navbar.nav-1 .flex{
    padding-top: 1rem;
    padding-bottom: 1rem;
 }
 
 .header .navbar.nav-2 .flex{
    padding-top: 0;
    padding-bottom: 0;
 }
 
 .header .navbar.nav-1{
    background-color: var(--black);
 }
 
 .header .navbar.nav-2{
    background-color: var(--white);
 }
 
 .header .navbar .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 
 .header .navbar .flex .logo{
    font-size: 2.2rem;
    color: var(--white); 
 }
 
 .header .navbar .flex .logo i{
    color: var(--main-color);
    margin-right: 1rem;
 }
 
 .header .navbar .flex ul{
    list-style: none;
    border-radius: 5px;
 }
 
 .header .navbar .flex ul li{
    float: left;
    position: relative;
    border-radius: 5px;
 }
 .nav-2 {
   transition: opacity 0.3s ease-in-out;
   display: block;
 }
 .header .navbar .flex ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.2rem 2rem;
    font-size: 1.8rem;
    color: var(--black);
    background-color: var(--white);
    transition: all .2s ease;
 }
 .header .navbar .flex .post {
   border-radius: 5px;
 }
 
 .header .navbar .flex ul li a:hover{
    background-color: var(--main-color);
    color: var(--white);
 }

 .header .navbar .flex ul li a .saved,
 .header .navbar .flex ul li a .icon{
    margin-left: 1rem; 
 }
 
 .header .navbar .flex ul li ul{
    position: absolute;
    width: 17rem;
    left: 0; 
 }
 
 .header .navbar .flex ul li ul li{
    width: 100%;
 }
 
 .header .navbar .flex ul li ul li a{
    display: none;
   
 }
 
 .header .navbar .flex ul li:hover ul li a{
    display: block;
 }

 #menu-btn{ 
   font-size: 2rem;
    color: var(--black);
    cursor: pointer;
    display: none;
 }

 #menu-btn > svg{
   width: 100%;
 }

.icon{
   font-size: 1.3rem;
}
 @media (max-width:768px){
 
   #menu-btn{
      display: inline-block;
   }
}