.home .center form{
    background-color: var(--white);
    padding: 2rem;
    box-shadow: var(--box-shodow);
    width: 55rem;
    z-index: 0;
    border-radius: 10px;
 }
 
 .home .center form h3{
    padding-bottom: 1rem;
    text-align: center;
    color: var(--black);
    text-transform: capitalize;
    font-size: 2.5rem;
 }
 
 .home .center form .flex{
    display: flex;
    gap:1rem;
    flex-wrap: wrap;
 }
 
 .home .center form .box{
    flex: 1 1 20rem;
    height: 115px;
 }
 
 .home .center form .box .input{
    width: 100%;
    border: var(--border);
    padding: 1.4rem;
    border-radius: 5px;
    color: var(--black);
    font-size: 1.8rem;
    margin: 1rem 0;
    transition: all .2s ease;
 }
 .home .center form .box .input:hover {
    outline: 1px solid var(--main-color);
    border: 0;
 }
 
 .home .center form .box p{
    color: var(--light-color);
    font-size: 1.7rem;
    padding-top: 1rem;
 }
 
 .home .center form .box p span{
    color: var(--main-color);
 }
 select option.choice {
    background: var(--main-color);
    color: var(--white);
 }