.footer{
    background-color: var(--black);
 }
 
 .footer .flex{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
 }
 
 .footer .flex .box{
    flex: 1 1 30rem;
 }
 
 .footer .flex .box a{
    display: block;
    padding: 1rem 0;
    font-size: 1.8rem;
 }
 
 .footer .flex .box a span{
    color: var(--white);
    transition: all 0.3s ease;
 }
 
 .footer .flex .box a:hover span{
    text-decoration: underline var(--main-color);
    letter-spacing: 1px;
 
 }
 
 .footer .flex .box a i{
    color: var(--main-color);
 }
 
 .footer .flex .box:last-child{
    text-align: right;
 }
 
 .footer .flex .box:last-child a i{
    margin-left: 1.5rem;
 }
 
 .footer .flex .box:first-child a i{
    margin-right: 1.5rem;
 }
 
 .footer .flex .box:nth-child(2){
    text-align: center;
 }
 
 .footer .credit{
    padding: 3rem 2rem;
    text-align: center;
    border-top: var(--border);
    font-size: 2rem;
    color: var(--white);
    margin-top: 2rem;
    padding-bottom: 10rem;
 }
 
 .footer .credit span{
    background: var(--main-color);
    color: var(--white-color);
    padding: 0 0.5em;
    border-radius: 4px;
 }
.addressIcon {
   margin-right: 5px;
}

.socials{
  margin-left: 10px;
}

/* address Icons */
div:nth-child(1) > a:nth-child(2) > svg,
div:nth-child(1) > a:nth-child(1) > svg{
   color: #4fce5d;   
}

div:nth-child(1) > a:nth-child(3) > svg{
   color: rgb(210, 141, 141);   
}
div:nth-child(1) > a:nth-child(4) > svg{
   color: rgb(221, 221, 221);   
}




/* socials */
div:nth-child(3) > a:nth-child(1) > svg{
  color: #3b5998;
}
div:nth-child(3) > a:nth-child(2) > svg{
  color: #00acee;
}
div:nth-child(3) > a:nth-child(3) > svg{
  color: blue;
}
div:nth-child(3) > a:nth-child(4) > svg{
  color: #f14843;
}
