@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

:root{
   --main-color: rgb(133, 23, 23);
   --main-color-faede: rgb(222, 27, 27);
   --light-color:#666;
   --light-bg:#eee;
   --white:#fff;
   --black:#303030;
   --border:.1rem solid var(--light-color);
   --box-shodow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
   font-family: 'Poppins', sans-serif;
   margin: 0; padding: 0;
   box-sizing: border-box;
   outline: none; border: none;
   text-decoration: none;
}

*::selection{
   background-color: var(--main-color);
   color: var(--white);
}

*::-webkit-scrollbar{
   height: .5rem;
   width: 1rem;
}

*::-webkit-scrollbar-track{
   background-color: transparent;
}

*::-webkit-scrollbar-thumb{
   background-color: var(--main-color);
   border-radius: 5rem;
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 10rem;
}

body{
   background-color: var(--light-bg);
}

section{
   padding: 3rem 2rem;
   max-width: 1200px;
   margin: 0 auto;
}

.heading{
    text-align: center;
    padding-bottom: 2.5rem;
    font-size: 3rem;
    color: var(--black);
    text-transform: capitalize;
 }
 
 .btn,
 .inline-btn{
    margin-top: 1rem;
    padding: 1rem 3rem;
    background-color: var(--main-color);
    color: var(--white);
    cursor: pointer;
    text-align: center;
    font-size: 1.8rem;
    text-transform: capitalize;
    border-radius: 5px;
 }
 
 .btn:hover,
 .inline-btn:hover{
    background-color: var(--black);
 }
 
 .btn{
    display: block;
    width: 100%;
 }
 
 .inline-btn{
    display: inline-block;
 }

 /* media queries  */

@media (max-width:991px){

    html{
       font-size: 55%;
    }
 
 }
 
 @media (max-width:768px){
 
    #menu-btn{
       display: inline-block;
    }
 
    .header .navbar .menu{
       position: absolute;
       top: 99%; left: 0; right: 0;
       background-color: var(--white);
       border-top: var(--border);
       transition: .2s linear;
       z-index:1;
       clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
 
    .header .navbar .menu.active{
       clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
 
    .header .navbar .menu ul li{
       width: 100%;
       position: relative;
    }
 
    .header .navbar .menu ul li a{
       width: 100%;
    }
 
    .header .navbar .menu ul li ul{
       position: relative;
       width: 100%;
    }
 
    .header .navbar .menu ul li ul li a{
       padding-left: 4rem;
       background-color: var(--black);
       color: var(--white);
    }
 
    .view-property .details .thumb .big-image img{
       height: auto;
    }
 
    .view-property .details .thumb .small-images img{
       height: 4rem;
       width: 6rem;
    }
 
    #filter-btn{
       display: inline-block;
    }
 
    .filters{
       position: fixed;
       top: 0; left: 0; right: 0; bottom: 0;
       overflow-y: scroll;
       background-color: var(--white);
       z-index: 1100;
       padding: 0;
       display: none;
    }
 
    .filters.active{
       display: block;
    }
 
    .filters form{
       box-shadow: none;
    }
 
    .filters form #close-filter{
       display: block;
    }
 
 }
 
 @media (max-width:450px){
 
    html{
       font-size: 50%;
    }
 
    .header .navbar .flex .logo{
       font-size: 1.8rem;
    }
 
    .home .center form .flex{
       gap: 0;
    }
 
    .listings .box-container{
       grid-template-columns: 1fr;
    }
 
    .reviews .box-container{
       grid-template-columns: 1fr;
    }
 
 }
 
/* About Page Designs */



/* Contact Page Designs */




/* Home Page Designs */



/* Listings Page Designs */




/* Login Page Designs */



/* Properties Page Designs */



/* Register Page Designs */



/* Saved-properties Page Designs */



/* View-property Page Designs */